[Desktop Entry]
Name=IC-732
Comment=Tiny Raspberry panadapter for FT-857 7inch LCD
Path=/home/pi/IC732-SDR
Exec=sh launcher.sh
Icon=/home/pi/IC732-SDR/iq_icon.png
Type=Application
Categories=Application;Game;
Name[en_GB]=IC-732
